@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");


@keyframes cardLifting {
  0%, 100% {
    transform: translateZ(0rem);
  }
  
  50% {
    transform: translateZ(8rem);
  }
}

.lift-card {
  animation-name: cardLifting;
  animation-duration: 1s;
}

.card {
  position: relative;
  margin: 4rem auto;
  transform-style: preserve-3d;
  border-radius: 10px !important;
}

.face {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  background: white;
  border-radius: 0.3rem;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  box-shadow: 0px 4px 15px 0px #aaa;
  border-radius: 10px;
}
.dark-card .face {
  background: #1e1e1e !important;
  box-shadow: 0px 4px 15px 0px #000000 !important;
  border-radius: 10px;
}

.front {
  backface-visibility: hidden;
}

.back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}

.back-flipped {
  transform: rotateY(360deg);
}

.word {
  font-size: 5rem;
  font-weight: bold;
}

.kana {
  font-weight: bold;
  font-size: 2rem;
}

.sentence {
  color: #888;
}

.sentence span {
  color: #25c;
}

.back div {
  margin: 1rem;
}
.line {
  background: rgba(0, 0, 0, .87);
  height: 1px;
}
.dark-card .line {
  background: #fff;
  height: 1px;
}

.bookmark label {
  box-shadow: 0px 0px 0px 0px rgba(253, 192, 47, 0.5);
}
.bookmark label:after {
  content: "\f02e";
}
.bookmark input:checked + label {
  background-color: #fdc02f;
  border-color: #fdc02f;
  box-shadow: 0px 0px 0px 0.5em rgba(253, 192, 47, 0);
}
.bookmark input:checked + label:after {
  color: #fdc02f;
}
.anim-icon {
  width: 1.9em;
  height: 1.9em;
  margin: 5px;
  font-size: 13px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.anim-icon input {
  display: none;
}
.anim-icon label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0.1em solid #cccccc;
  border-radius: 100%;
  display: block;
  font: normal normal normal 13px FontAwesome;
  color: #cccccc;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.anim-icon label:after {
  left: 0;
  top: 50%;
  margin-top: -0.5em;
  display: block;
  position: relative;
  text-align: center;
}
.anim-icon input:checked + label {
  animation: check-in 0.3s forwards;
  transition: background-color 0.1s 0.2s, box-shadow 1s;
  border-width: 0.1em;
  border-style: solid;
}
.anim-icon input:checked + label:after {
  animation: icon .3s forwards;
}
.anim-icon-md {
  font-size: 20px;
}
.anim-icon-lg {
  font-size: 30px;
}
@keyframes icon {
  0% {
    margin-top: -0.5em;
    font-size: 1.5em;
  }
  100% {
    font-size: 1em;
    opacity: 1;
    color: white;
  }
}
@keyframes check-in {
  0% {
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
  }
  80% {
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;
  }
  100% {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes check {
  0% {
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
  }
  10% {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  80% {
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;
  }
  90% {
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
  }
  100% {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}


 .share {
	 position: relative;
	 width: 200px;
   margin: 0px;
	 margin-left: -100px !important;
	 border-radius: 40px;
   left: 20%;
}
.card .share span {
	 width: 100px;
	 line-height: 40px;
	 display: inline-block;
	 font-weight: 700;
	 text-transform: uppercase;
	 position: absolute;
	 left: 50%;
	 margin-left: -75px;
	 opacity: 1;
	 transition: opacity 0.3s ease-in-out;
	 pointer-events: none;
   color: #f1ce64 !important;
}
.dark-card .share span {
  color: #0d47a1 !important;
}

.share nav {
	 font-size: 0;
}
 .card .share a {
	 line-height: 40px;
	 width: 40px;
	 text-align: center;
	 display: inline-block;
	 background-color: #424242;
	 color: #fff;
	 overflow: hidden;
	 opacity: 1;
	 transition: all 0.3s ease-in-out;
	 margin: 0 -10px;
	 box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
}

 .dark-card .share a {
	 line-height: 40px;
	 width: 40px;
	 text-align: center;
	 display: inline-block;
	 background-color: #bdbdbd;
	 color: #fff;
	 overflow: hidden;
	 opacity: 1;
	 transition: all 0.3s ease-in-out;
	 margin: 0 -10px;
	 box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
}

 .share a:nth-child(1) {
	 border-top-left-radius: 20px;
	 border-bottom-left-radius: 20px;
	 margin-left: 0;
}
 .share a:nth-child(1):hover {
	 background-color: #61c5ec;
}
 .share a:nth-child(2):hover {
	 background-color: #3b5998;
}
 .share a:nth-child(3):hover {
	 background-color: #ea4335;
}
 .share a:nth-child(4) {
	 border-top-right-radius: 20px;
	 border-bottom-right-radius: 20px;
	 margin-right: 0;
}
 .share a:nth-child(4):hover {
	 background-color: #000;
}
 .share:hover span, .share.hover span {
	 opacity: 0;
}
.card .share:hover a, .share.hover a {
	 border-radius: 50%;
	 margin: 0 5px;
	 color: #f1ce64;
	 font-size: 14px;
}
.dark-card .share:hover a, .share.hover a {
  color: #0d47a1;
}
 .share:hover a:hover, .share.hover a:hover {
	 color: #fff;
}
.v-card__text .example_mean {
  font-weight: normal !important;
}
.v-card .tag-list {
  display: inline-block;
  float: right;
}
.v-card .tag-list .v-chip__content {
  font-size: 12px !important;
} 
.v-card .tag-list .v-chip__content .v-avatar {
  font-size: 12px !important;
}
.v-card .v-alert .v-alert__wrapper .v-alert__content {
  color: #311b92;
}
.v-card .v-card__title {
  color: #c62828;
}
.v-card .mean-card {
  padding-bottom: 10px !important;
}
.v-card .theme--dark.grammar-explain {
  background: #fff !important;
}