<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="new_tab.css" />
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> -->
  <link href="../fonts/materialdesignicons.min.css" rel="stylesheet">
  <title>Title</title>
  <% if (NODE_ENV === 'development') { %>
  <!-- Load some resources only in development environment -->
  <script src="http://localhost:8098"></script>
  <% } %>
</head>
<body>
  <div id="app">

  </div>
  <script src="new_tab.js"></script>
</body>
</html>
